<html>
<h2>HOST VALUE</h2>
<ul>
<li>AMP = localhost:4000</li>
<li>THREATGRID = localhost:4000</li>
<li>UMBRELLA = localhost:4000"</li>
<li>THREATRESPONSE = <li>localhost:4000</li>
</ul>
<h2>User information</h2>
<ul>
<li>UMBRELLA_ENFORCEMENT_KEY = "12345678-b9a1-4ad3-82d9-dfe2c93ffffz"</li>
<li>UMBRELLA_INVESTIGATE_KEY = "zbcdefgh-1414-4783-9bb9-259f3aabecbz"</li>
<li>AMP_CLIENT_ID = "defg26458064a05f1faz"</li>
<li>AMP_API_KEY = "12345678-4f95-43d5-908d-7a7d41ad385z"</li>
<li>THREATGRID_API_KEY = "Zjttqveo7g1doaszbc0n6qfzzz"</li>
<li>CTR_CLIENT_ID = "client-bbaad7e2-e5ff-413f-1234-0e21bc871zzz"</li>
<li>CTR_API_KEY = "ZezA_VszEcMTCzzzU0Wr5mQypXoxbjFNKDnLa0Mkw_O_ZZ4TND9mZZ"</li>
</ul>
</html>