<!DOCTYPE HTML>
<!-- description : display DB entry details-->
<html>
<head>
<title>Task Automation</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="../static/assets/css/main.css" />
<script>
function select_profile() {
var profile_name = document.getElementById("new_profile").value;
//alert(profile_name);
//window.open("/check_xdr?client_id="+client_id+"&client_password="+client_password+"&region="+region);
window.open("/select_profile?profil_name="+profile_name);
}
function popup_window( url, id, width, height )
{
//extract the url parameters if any, and pass them to the called html
var tempvar=document.location.toString(); // fetch the URL string
var passedparams = tempvar.lastIndexOf("?");
if(passedparams > -1)
url += tempvar.substring(passedparams);
popup = window.open( url, id, 'toolbar=no,scrollbars=yes,location=yes,statusbar=yes,menubar=no,resizable=yes,width=' + width + ',height=' + height + '' );
popup.focus();
}
</script>
</head>
<body class="is-preload">
<!-- Nav -->
<nav id="nav">
<li><a href="/">Back to main page</a></li>
<li><a href="/logout">log Out</a></li>
<li><a href="javascript:popup_window('/page_info?page={{page_name}}&route={{route}}','page_info',700,600);">:</a></li>
</ul>
</nav>
<center>
<br><h2>Entry Details</h2>
</center>
<article id="create_new_feed" class="wrapper style4">
<div class="container medium">
<div class="row">
<div class="col-12">
<form method="get" action="/api_calls_db_add_entry_ok">
<div class="row">
<div class="col-6 col-12-small">
<h3>name :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="name" name="name" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>solution :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="solution" name="solution" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>fqdn :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="fqdn" name="fqdn" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>relative_url :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="relative_url" name="relative_url" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>documentation :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="documentation" name="documentation" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>method :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="method" name="method" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>description :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="description" name="description" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>payload :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="payload" name="payload" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>header :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="header" name="header" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>body :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="body" name="body" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>query_params :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="query_params" name="query_params" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>custom_variables :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="custom_variables" name="custom_variables" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>authentication_profile :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="authentication_profile" name="authentication_profile" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>inputs_variables :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="inputs_variables" name="inputs_variables" value="" placeholder="Enter a value" />
</div>
<div class="col-6 col-12-small">
<h3>output_variables :  </h3>
</div>
<div class="col-6 col-12-small">
</h3><input type="text"  id="output_variables" name="output_variables" value="" placeholder="Enter a value" />
</div>
<div class="col-12">
<ul class="actions">
<input type="hidden" name="index" value="{{index}}" />
<input type="hidden" name="db_name" value="{{db_name}}" />
<input type="submit" value="Add New Entry" class="button small scrolly" />
</ul>
</form>
</div>
</div>
</div>
</div>
</div>
</article>
<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/jquery.scrolly.min.js"></script>
<script src="../static/assets/js/init.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>
</html>
