<!DOCTYPE HTML>
<!-- description-->
<html>
<head>
<title>Task Automation</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="../static/assets/css/main.css" />
<script>
function popup_window( url, id, width, height )
{
//extract the url parameters if any, and pass them to the called html
var tempvar=document.location.toString(); // fetch the URL string
var passedparams = tempvar.lastIndexOf("?");
if(passedparams > -1)
url += tempvar.substring(passedparams);
popup = window.open( url, id, 'toolbar=no,scrollbars=yes,location=yes,statusbar=yes,menubar=no,resizable=yes,width=' + width + ',height=' + height + '' );
popup.focus();
}
</script>
</head>
<body class="is-preload">
<!-- Nav -->
<nav id="nav">
<li><a href="/">Back to main page</a></li>
<li><a href="/product_apis">Product APIs</a></li>
<li><a href="/logout">log Out</a></li>
<li><a href="javascript:popup_window('/page_info?page={{page_name}}&route={{route}}','page_info',700,600);">:</a></li>
</ul>
</nav>
<!-- Portfolio -->
<article id="portfolio" class="wrapper style3">
<div class="container">
<header>
<h2>Secure Endpoint APIs</h2>
<p>CSE APIs to use for this lab</p>
</header>
<div class="row">
<div class="col-4 col-6-medium col-12-small">
<article class="box style2">
<a href="/generic_api_details?name=Secure Endpoint Get Computers" class="image featured"><img src="../static/images/cdo.jpg" alt="" /></a>
<h3><a href="/generic_api_details?name=Secure Endpoint Get Computers">Get Computer</a></h3>
<p>Get Computer</p>
</article>
</div>
<div class="col-4 col-6-medium col-12-small">
<article class="box style2">
<a href="/generic_api_details?name=Secure Endpoint Get Event Types" class="image featured"><img src="../static/images/cdo.jpg" alt="" /></a>
<h3><a href="/generic_api_details?name=Secure Endpoint Get Event Types">Get event types</a></h3>
<p>Fetch event type list. And event type details</p>
</article>
</div>
<div class="col-4 col-6-medium col-12-small">
<article class="box style2">
<a href="/generic_api_details?name=Secure Endpoint Get Events" class="image featured"><img src="../static/images/cdo.jpg" alt="" /></a>
<h3><a href="/generic_api_details?name=Secure Endpoint Get Events">Get events</a></h3>
<p>Get Secure Endpoint events. All events or events on a computer</p>
</article>
</div>
<div class="col-4 col-6-medium col-12-small">
<article class="box style2">
<a href="/generic_api_details?name=Secure Endpoint Get Isolation" class="image featured"><img src="../static/images/cdo.jpg" alt="" /></a>
<h3><a href="/generic_api_details?name=Secure Endpoint Get Isolation">Isolation Status</a></h3>
<p>Get isolation, status of an endpoints</p>
</article>
</div>
<div class="col-4 col-6-medium col-12-small">
<article class="box style2">
<a href="/generic_api_details?name=Secure Endpoint Isolate" class="image featured"><img src="../static/images/cdo.jpg" alt="" /></a>
<h3><a href="/generic_api_details?name=Secure Endpoint Isolate">Isolate Endpoint</a></h3>
<p>Isolate an endpoints</p>
</article>
</div>
<div class="col-4 col-6-medium col-12-small">
<article class="box style2">
<a href="/generic_api_details?name=Secure Endpoint Stop Isolation" class="image featured"><img src="../static/images/cdo.jpg" alt="" /></a>
<h3><a href="/generic_api_details?name=Secure Endpoint Stop Isolation">Stop Isolation</a></h3>
<p>Stop isolation of an endpoints</p>
</article>
</div>
<div class="col-4 col-6-medium col-12-small">
<article class="box style2">
<a href="/generic_api_details?name=Umbrella Domain Risk Score" class="image featured"><img src="../static/images/cdo.jpg" alt="" /></a>
<h3><a href="/generic_api_details?name=Umbrella Domain Risk Score">Umbrella Domain Risk Score</a></h3>
<p>Umbrella Domain Risk Score</p>
</article>
</div>
</div>
</div>
</article>
<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/jquery.scrolly.min.js"></script>
<script src="../static/assets/js/init.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>
</html>
