<!DOCTYPE HTML>
<!-- description-->
<html>
<head>
<title>Task Automation</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="../static/assets/css/main.css" />
<script>
function select_profile() {
var profile_name = document.getElementById("new_profile").value;
//alert(profile_name);
//window.open("/check_xdr?client_id="+client_id+"&client_password="+client_password+"&region="+region);
window.open("/select_profile?profil_name="+profile_name);
}
function popup_window( url, id, width, height )
{
//extract the url parameters if any, and pass them to the called html
var tempvar=document.location.toString(); // fetch the URL string
var passedparams = tempvar.lastIndexOf("?");
if(passedparams > -1)
url += tempvar.substring(passedparams);
popup = window.open( url, id, 'toolbar=no,scrollbars=yes,location=yes,statusbar=yes,menubar=no,resizable=yes,width=' + width + ',height=' + height + '' );
popup.focus();
}
</script>
</head>
<body class="is-preload">
<!-- Nav -->
<nav id="nav">
<li><a href="/">Back to main page</a></li>
<li><a href="/logout">log Out</a></li>
<li><a href="javascript:popup_window('/page_info?page={{page_name}}&route={{route}}','page_info',700,600);">:</a></li>
</ul>
</nav>
<!-- create new feed-->
<article id="create_new_feed" class="wrapper style4">
<div class="container medium">
<header>
<h2>Add a new function in the python code</h2>
</header>
<div class="row">
<div class="col-12">
<form method="get" action="/new_python_function_create">
<div class="row">
<div class="col-12">
<ul class="actions">
<input type="submit" value="Create Function" class="button small scrolly" />
</ul>
</div>
<div class="col-6 col-12-small">
<h3>Python Function Name :</h3>
</div>
<div class="col-6 col-12-small">
<input type="text"  id="name" name="name" value="function_name" placeholder="function name" />
</div>
<div class="col-6 col-12-small">
<h3>Args to pass :</h3>
</div>
<div class="col-6 col-12-small">
<input type="text"  id="args" name="args" value="()" placeholder="args to pass" />
</div>
<h3>Description</h3>
<div class="col-12">
<input type="text"  id="description" name="description" value="description" placeholder="description" />
</div>
<div class="col-6 col-12-small">
<h3>Function Name in DB</h3>
</div>
<div class="col-6 col-12-small">
<input type="text"  id="name_in_db" name="name_in_db" value="name_in_db" placeholder="name_in_db" />
</div>
<div class="col-6 col-12-small">
<h3>input_variables</h3>
</div>
<div class="col-6 col-12-small">
<input type="text"  id="input_variables" name="input_variables" value="input_variables" placeholder="input_variables" />
</div>
<div class="col-6 col-12-small">
<h3>output_variables</h3>
</div>
<div class="col-6 col-12-small">
<input type="text"  id="output_variables" name="output_variables" value="output_variables" placeholder="output_variables" />
</div>
<div class="col-6 col-12-small">
<h3>comment</h3>
</div>
<div class="col-6 col-12-small">
<input type="text"  id="comment" name="comment" value="comment" placeholder="comment" />
</div>
<div class="col-6 col-12-small">
<h3>environment_name</h3>
</div>
<div class="col-6 col-12-small">
<input type="text"  id="environment_name" name="environment_name" value="environment_name" placeholder="environment_name" />
</div>
</div>
</form>
</div>
</div>
</div>
</article>
<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/jquery.scrolly.min.js"></script>
<script src="../static/assets/js/init.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>
</html>
