<!DOCTYPE HTML>
<!-- description-->
<html>
<head>
<title>Task Automation</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="../static/assets/css/main.css" />
<script>
function get_indic_judgments() {
var indicator_id = document.getElementById("the_feed").value;
//window.open("/check_xdr?client_id="+client_id+"&client_password="+client_password+"&region="+region);
window.open("/get_indic_judgments?indicator_id="+indicator_id,"_self");
}
function popup_window( url, id, width, height )
{
//extract the url parameters if any, and pass them to the called html
var tempvar=document.location.toString(); // fetch the URL string
var passedparams = tempvar.lastIndexOf("?");
if(passedparams > -1)
url += tempvar.substring(passedparams);
popup = window.open( url, id, 'toolbar=no,scrollbars=yes,location=yes,statusbar=yes,menubar=no,resizable=yes,width=' + width + ',height=' + height + '' );
popup.focus();
}
</script>
</head>
<body class="is-preload">
<!-- Nav -->
<nav id="nav">
<li><a href="/">Back to main page</a></li>
<li><a href="/logout">log Out</a></li>
<li><a href="javascript:popup_window('/page_info?page={{page_name}}&route={{route}}','page_info',700,600);">:</a></li>
</ul>
</nav>
<!-- Incident list-->
<article id="indic_list" class="wrapper style4">
<div class="container medium">
<header>
<p>Select a Workflow</p>
</header>
<div class="row">
<div class="col-12">
<form method="get" action="/select_workflow_ok">
<div class="row">
<div class="col-12">
<select id="workflow_name" name="workflow_name">
{% for index, workflow in workflow_dict.items() %}
<option value="{{workflow.title}}">{{workflow.title}}</option>
{% endfor %}
</select>
</div>
<div class="col-12">
<ul class="actions">
<li><input type="submit" value="confirm" class="button small scrolly" /></li>
</ul>
</div>
</div>
</form>
</div>
</div>
<footer>
<ul id="copyright">
<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
</ul>
</footer>
</div>
</article>
<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/jquery.scrolly.min.js"></script>
<script src="../static/assets/js/init.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>
</html>
