<!DOCTYPE HTML>
<!-- description-->
<html>
<head>
<title>FLASK APP GENERATOR</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="../static/assets/css/main.css" />
<script>
function select_profile() {
var profile_name = document.getElementById("new_profile").value;
//alert(profile_name);
//window.open("/check_xdr?client_id="+client_id+"&client_password="+client_password+"&region="+region);
window.open("/select_profile?profil_name="+profile_name);
}
function popup_window( url, id, width, height )
{
//extract the url parameters if any, and pass them to the called html
var tempvar=document.location.toString(); // fetch the URL string
var passedparams = tempvar.lastIndexOf("?");
if(passedparams > -1)
url += tempvar.substring(passedparams);
popup = window.open( url, id, 'toolbar=no,scrollbars=yes,location=yes,statusbar=yes,menubar=no,resizable=yes,width=' + width + ',height=' + height + '' );
popup.focus();
}
</script>
</head>
<body class="is-preload">
<!-- Nav -->
<nav id="nav">
<li><a href="/">Back to main page</a></li>
<li><a href="/run_workflow">Run Workflow</a></li>
<li><a href="/workflows_db_add_entry">Add New Step</a></li>
<li><a href="/logout">log Out</a></li>
<li><a href="javascript:popup_window('/page_info?page={{page_name}}&route={{route}}','page_info',700,600);">:</a></li>
</ul>
</nav>
<article id="portfolio" class="wrapper style3">
<div class="container">
<header>
<h2>Workflow</h2>
<p>Build Your workflow</p>
</header>
<div class="row">
{% for file, item in step_dict.items() %}
<div class="col-4 col-6-medium col-12-small">
<article class="box style2">
<h3><a href="/workflows_step_details?step={{item.title}}">{{item.title}}</a></h3>
<p>{{item.description}}</p>
</article>
</div>
{% endfor %}
<div class="col-4 col-6-medium col-12-small">
<article class="box style2">
<h3><a href="/workflows_db_add_entry">Add New Step</a></h3>
<p>Add a next step to the workflow</p>
</article>
</div>
</div>
</div>
</article>
<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/jquery.scrolly.min.js"></script>
<script src="../static/assets/js/init.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>
</html>
